<div class="ui vertically divided stackable grid assets" ng-controller="assetsCtl as assets">
    <div class="three column row grey">
        <div class="column">
            <div class="ui search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" ng-model="query" placeholder="Search assets...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="column">
            <statistics type="'currencyForce'"></statistics>
        </div>
        <div class="column"></div>
    </div>
    <div class="two column row">
        <div class="column">
            <div class="ui fluid container">
                <div class="ui cards">
                    <div class="card" ng-repeat="asset in assets.assets | filter:assets.search | orderBy:['type', 'name']">
                        <div class="content">
                            <div class="header">{{asset.name}}</div>
                            <div ng-if="asset.type === 'stock'" class="ui teal right ribbon label">
                                <img class="ui image" ng-if="false" ng-src="{{asset.icon}}"> {{asset.ticker}}
                            </div>
                            <div ng-if="asset.type === 'cross'" class="ui blue right ribbon label">
                                <img class="ui image" ng-if="false" ng-src="{{asset.icon}}"> FX
                            </div>
                            <div ng-if="asset.description" class="description">
                                {{asset.description}}
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i> Add to Portfolio
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
