<div class="ui vertically divided stackable grid assets" ng-controller="assetsCtl as assets">
    <div class="three column row grey">
        <div class="column">
            <div class="ui search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" placeholder="Search assets...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
    <div class="two column row">
        <div class="column">
            <div class="ui fluid container">
                <div class="ui cards">
                    <div class="card" ng-repeat="asset in assets.assets">
                        <div class="content">
                            <div class="header">{{asset.name}}</div>
                            <div ng-if="asset.type === 'stock'" class="ui teal right ribbon label">{{asset.ticker}}</div>
                            <div ng-if="asset.type === 'cross'" class="ui blue right ribbon label">FX</div>
                            <div ng-if="asset.description" class="description">
                                {{asset.description}}
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i> Add to Portfolio
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
