<div class="ui two column grid force" ng-if="asset">
    <div class="column">
        <div class="ui segment">
            <div ng-repeat="stat in stats.avg | filter:{_id: asset.ticker.slice(0, 3)}">
                <heat stat="stat"></heat>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <div ng-repeat="stat in stats.avg | filter:{_id: asset.ticker.slice(-3)}">
                <heat stat="stat"></heat>
            </div>
        </div>
    </div>
</div>
